html, body {
	margin: 0;
	height: 100%;
	background: #E5E5E5;
  font-family: 'IBM Plex Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 238;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	background: #FFFFFF;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.logo-sect {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 35%;
}
.navbar-right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 75%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.navbar-right .seg {
	flex: 1 1 auto;
}
.documentation-btn {
	background: linear-gradient(101.13deg, #F46B45 0%, #EEA849 100%);
	border-radius: 4.5px;
	height: 40.5px;
	padding: 13px 16px;
	text-decoration: none;
	color: #fff;
}
.searchTerm {
	height: 35px;
	border: none;
	padding: 5px;
	outline: none;
  color: #A9B3D2;
  letter-spacing: .6px;
}
.searchTerm:focus{
  color: #00B4CC;
}
.search-icon {
	width: auto;
	height: 17px;
	margin-bottom: -2px;
	margin-right: -5px;
}
.profile-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
.profile-avatar {
	height: 50px;
	width:  50px;
	border-radius: 50%;
	overflow: hidden;
}
.profile-avatar img {
	width: 100%;
	height: auto;
}
.user-profile {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.profile-name {
	color: #9AA6CE;
	font-weight: bold;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/*main body*/
.dash-body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.icon-navbar {
	position: absolute;
}

.side-bar {
	height: 100vh;
	width: 25%;
	background: #fff;
}

.info-section {
	height: 100vh;
	width: 75%;
}
.icon-nav {
	height: inherit;
	width: 20%;
	background: linear-gradient(180deg, #0072FF 0%, #00C6FF 100%);
	/*transform: matrix(1, 0, 0, -1, 0, 0);*/
}
.icon-nav {
	padding-top: 6.5rem;
	padding-bottom: 3.5rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.main-icon-nav {
	height: 80%;
	width: 30px;
	/*background: red;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.main-icon-nav img {
	min-height: 20.6;
	min-width: 26px;
}
.mini-detail-nav {
	height: 20%;
	width: 30px;
	/*background: green;*/
}
.sidebar-icons:last-child {
margin-bottom: 0;
}
.sidebar-icons {
	height: 26px;
	margin-bottom: 40px;
	width: 26px;
	/*border-radius: 50%;*/
	/*overflow: hidden;*/
}
.sidebar-icons:hover {
	cursor: pointer;
}
.mini-detail-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
/*main body*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/*[ MARGIN ]*/
.mr-auto, .mx-auto, .m-auto {margin-right: auto;}.ml-auto, .mx-auto, .m-auto {margin-left: auto;}.mt-auto, .my-auto, .m-auto {margin-top: auto;}.mb-auto, .my-auto, .m-auto {margin-bottom: auto;}
.mt-0, .my-0, .m-0 {margin-top: 0px!important;}.mt-1, .my-1, .m-1 {margin-top: 1px!important;}.mt-2, .my-2, .m-2 {margin-top: 2px!important;}.mt-3, .my-3, .m-3 {margin-top: 3px!important;}.mt-4, .my-4, .m-4 {margin-top: 4px!important;}.mt-5, .my-5, .m-5 {margin-top: 5px!important;}.mt-6, .my-6, .m-6 {margin-top: 6px!important;}.mt-7, .my-7, .m-7 {margin-top: 7px!important;}.mt-8, .my-8, .m-8 {margin-top: 8px!important;}.mt-9, .my-9, .m-9 {margin-top: 9px!important;}.mt-10, .my-10, .m-10 {margin-top: 10px!important;}
.mt-11, .my-11, .m-11 {margin-top: 11px!important;}.mt-12, .my-12, .m-12 {margin-top: 12px!important;}.mt-13, .my-13, .m-13 {margin-top: 13px!important;}.mt-14, .my-14, .m-14 {margin-top: 14px!important;}.mt-15, .my-15, .m-15 {margin-top: 15px!important;}.mt-16, .my-16, .m-16 {margin-top: 16px!important;}.mt-17, .my-17, .m-17 {margin-top: 17px!important;}.mt-18, .my-18, .m-18 {margin-top: 18px!important;}.mt-19, .my-19, .m-19 {margin-top: 19px!important;}.mt-20, .my-20, .m-20 {margin-top: 20px!important;}
.mt-21, .my-21, .m-21 {margin-top: 21px!important;}.mt-22, .my-22, .m-22 {margin-top: 22px!important;}.mt-23, .my-23, .m-23 {margin-top: 23px!important;}.mt-24, .my-24, .m-24 {margin-top: 24px!important;}.mt-25, .my-25, .m-25 {margin-top: 25px!important;}.mt-26, .my-26, .m-26 {margin-top: 26px!important;}.mt-27, .my-27, .m-27 {margin-top: 27px!important;}.mt-28, .my-28, .m-28 {margin-top: 28px!important;}.mt-29, .my-29, .m-29 {margin-top: 29px!important;}.mt-30, .my-30, .m-30 {margin-top: 30px!important;}

.mb-0, .my-0, .m-0 {margin-bottom: 0px!important;}.mb-1, .my-1, .m-1 {margin-bottom: 1px!important;}.mb-2, .my-2, .m-2 {margin-bottom: 2px!important;}.mb-3, .my-3, .m-3 {margin-bottom: 3px!important;}.mb-4, .my-4, .m-4 {margin-bottom: 4px!important;}.mb-5, .my-5, .m-5 {margin-bottom: 5px!important;}.mb-6, .my-6, .m-6 {margin-bottom: 6px!important;}.mb-7, .my-7, .m-7 {margin-bottom: 7px!important;}.mb-8, .my-8, .m-8 {margin-bottom: 8px!important;}.mb-9, .my-9, .m-9 {margin-bottom: 9px!important;}
.mb-10, .my-10, .m-10 {margin-bottom: 10px!important;}.mb-11, .my-11, .m-11 {margin-bottom: 11px!important;}.mb-12, .my-12, .m-12 {margin-bottom: 12px!important;}.mb-13, .my-13, .m-13 {margin-bottom: 13px!important;}.mb-14, .my-14, .m-14 {margin-bottom: 14px!important;}.mb-15, .my-15, .m-15 {margin-bottom: 15px!important;}.mb-16, .my-16, .m-16 {margin-bottom: 16px!important;}.mb-17, .my-17, .m-17 {margin-bottom: 17px!important;}.mb-18, .my-18, .m-18 {margin-bottom: 18px!important;}
.mb-19, .my-19, .m-19 {margin-bottom: 19px!important;}.mb-20, .my-20, .m-20 {margin-bottom: 20px!important;}.mb-21, .my-21, .m-21 {margin-bottom: 21px!important;}.mb-22, .my-22, .m-22 {margin-bottom: 22px!important;}.mb-23, .my-23, .m-23 {margin-bottom: 23px!important;}.mb-24, .my-24, .m-24 {margin-bottom: 24px!important;}.mb-25, .my-25, .m-25 {margin-bottom: 25px!important;}.mb-26, .my-26, .m-26 {margin-bottom: 26px!important;}.mb-27, .my-27, .m-27 {margin-bottom: 27px!important;}
.mb-28, .my-28, .m-28 {margin-bottom: 28px!important;}.mb-29, .my-29, .m-29 {margin-bottom: 29px!important;}.mb-30, .my-30, .m-30 {margin-bottom: 30px!important;}

.ml-0, .mx-0, .m-0 {margin-left: 0px!important;}.ml-1, .mx-1, .m-1 {margin-left: 1px!important;}.ml-2, .mx-2, .m-2 {margin-left: 2px!important;}.ml-3, .mx-3, .m-3 {margin-left: 3px!important;}.ml-4, .mx-4, .m-4 {margin-left: 4px!important;}.ml-5, .mx-5, .m-5 {margin-left: 5px!important;}.ml-6, .mx-6, .m-6 {margin-left: 6px!important;}.ml-7, .mx-7, .m-7 {margin-left: 7px!important;}.ml-8, .mx-8, .m-8 {margin-left: 8px!important;}.ml-9, .mx-9, .m-9 {margin-left: 9px!important;}.ml-10, .mx-10, .m-10 {margin-left: 10px!important;}
.ml-11, .mx-11, .m-11 {margin-left: 11px!important;}.ml-12, .mx-12, .m-12 {margin-left: 12px!important;}.ml-13, .mx-13, .m-13 {margin-left: 13px!important;}.ml-14, .mx-14, .m-14 {margin-left: 14px!important;}.ml-15, .mx-15, .m-15 {margin-left: 15px!important;}.ml-16, .mx-16, .m-16 {margin-left: 16px!important;}.ml-17, .mx-17, .m-17 {margin-left: 17px!important;}.ml-18, .mx-18, .m-18 {margin-left: 18px!important;}.ml-19, .mx-19, .m-19 {margin-left: 19px!important;}.ml-20, .mx-20, .m-20 {margin-left: 20px!important;}
.ml-21, .mx-21, .m-21 {margin-left: 21px!important;}.ml-22, .mx-22, .m-22 {margin-left: 22px!important;}.ml-23, .mx-23, .m-23 {margin-left: 23px!important;}.ml-24, .mx-24, .m-24 {margin-left: 24px!important;}.ml-25, .mx-25, .m-25 {margin-left: 25px!important;}.ml-26, .mx-26, .m-26 {margin-left: 26px!important;}.ml-27, .mx-27, .m-27 {margin-left: 27px!important;}.ml-28, .mx-28, .m-28 {margin-left: 28px!important;}.ml-29, .mx-29, .m-29 {margin-left: 29px!important;}.ml-30, .mx-30, .m-30 {margin-left: 30px!important;}


.mr-0, .mx-0, .m-0 {margin-right: 0px!important;}.mr-1, .mx-1, .m-1 {margin-right: 1px!important;}.mr-2, .mx-2, .m-2 {margin-right: 2px!important;}.mr-3, .mx-3, .m-3 {margin-right: 3px!important;}.mr-4, .mx-4, .m-4 {margin-right: 4px!important;}.mr-5, .mx-5, .m-5 {margin-right: 5px!important;}.mr-6, .mx-6, .m-6 {margin-right: 6px!important;}.mr-7, .mx-7, .m-7 {margin-right: 7px!important;}.mr-8, .mx-8, .m-8 {margin-right: 8px!important;}.mr-9, .mx-9, .m-9 {margin-right: 9px!important;}.mr-10, .mx-10, .m-10 {margin-right: 10px!important;}
.mr-11, .mx-11, .m-11 {margin-right: 11px!important;}.mr-12, .mx-12, .m-12 {margin-right: 12px!important;}.mr-13, .mx-13, .m-13 {margin-right: 13px!important;}.mr-14, .mx-14, .m-14 {margin-right: 14px!important;}.mr-15, .mx-15, .m-15 {margin-right: 15px!important;}.mr-16, .mx-16, .m-16 {margin-right: 16px!important;}.mr-17, .mx-17, .m-17 {margin-right: 17px!important;}.mr-18, .mx-18, .m-18 {margin-right: 18px!important;}.mr-19, .mx-19, .m-19 {margin-right: 19px!important;}.mr-20, .mx-20, .m-20 {margin-right: 20px!important;}
.mr-21, .mx-21, .m-21 {margin-right: 21px!important;}.mr-22, .mx-22, .m-22 {margin-right: 22px!important;}.mr-23, .mx-23, .m-23 {margin-right: 23px!important;}.mr-24, .mx-24, .m-24 {margin-right: 24px!important;}.mr-25, .mx-25, .m-25 {margin-right: 25px!important;}.mr-26, .mx-26, .m-26 {margin-right: 26px!important;}.mr-27, .mx-27, .m-27 {margin-right: 27px!important;}.mr-28, .mx-28, .m-28 {margin-right: 28px!important;}.mr-29, .mx-29, .m-29 {margin-right: 29px!important;}.mr-30, .mx-30, .m-30 {margin-right: 30px!important;}